.subproduct-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transform: 0.3s;
    animation: fadeIn 1s;
}
/* .subproduct-item img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
} */
.subproduct-item-info{
    padding: 20px;
}
.subproduct-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.subproduct-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.subproduct-item-name-rating img{
    width: 70px;
}
.subproduct-item-desc{
    color: red;
    font-size: 12px;
}
.subproduct-item-price{
    color: green;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
